<filter
  [all]="allproducts"
  [instock]="productinstock"
  [outstock]="productoutstock"
  (selectedFilterchange)="onFilterChange($event)"
></filter>

<!-- *ngIf="selectedFilterRadio==='all' || prod.is_in_inventory.toString()===selectedFilterRadio" -->
<div class="ekart--products--container">
  <ng-container *ngFor="let prod of products" >
    <product
      [product]="prod"
      *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"
      (click)="selectedProduct=prod"
    ></product>
  </ng-container>
</div>
